/*Nosotros - Conocenos*/
.texto-conocenos{
    position: absolute;
    z-index: 2;
    margin-top: 7%;
    margin-left: 30%;
}
/*Imagen - Conocenos*/
.img-nosotros{
    position: absolute;
    z-index: -1;
    width: 100%;
}
/*Imagen - Fondo*/
.img-fondo{
    position: absolute;
    z-index: 1;
}
/*Texto de Nosotros*/
.info{
height: 98px;
width: 840px;
left: 300px;
top: 532px;
border-radius: nullpx;
}